{% extends "master.html" %}
{% block content %}
    <div style="padding-top: 30px">
    {% if user.isWorker() %}
        <div class="well text-center">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                        <button class="btn btn-primary btn-lg" type="button" style="height:100px; width:100px">Btn1</button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-primary btn-lg" type="button" style="height:100px; width:100px">Btn1</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                        <button class="btn btn-primary btn-lg" type="button" style="height:100px; width:100px">Btn1</button>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-primary btn-lg" type="button" style="height:100px; width:100px">Btn1</button>
                    </div>
                </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
