{#{% extends "master.html" %}#}
{#{% block content %}#}
{#    <div style="padding-top: 30px">#}
{#    {% if user.isWorker() %}#}
{#        <div class="well text-center">#}
{#                <div class="row">#}
{#                    <div class="col-lg-2"></div>#}
{#                    <div class="col-lg-3">#}
{#                        <button class="btn btn-primary btn-lg" type="button" style="height:100px; width:100px">Btn1</button>#}
{#                    </div>#}
{#                    <div class="col-lg-3">#}
{#                        <button class="btn btn-primary btn-lg" type="button" style="height:100px; width:100px">Btn1</button>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="row">#}
{#                    <div class="col-lg-2"></div>#}
{#                    <div class="col-lg-3">#}
{#                        <button class="btn btn-primary btn-lg" type="button" style="height:100px; width:100px">Btn1</button>#}
{#                    </div>#}
{#                    <div class="col-lg-3">#}
{#                        <button class="btn btn-primary btn-lg" type="button" style="height:100px; width:100px">Btn1</button>#}
{#                    </div>#}
{#                </div>#}
{#        </div>#}
{#    {% endif %}#}
{#    </div>#}
{#{% endblock %}#}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RSC-Floki</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon"type="image/png"  href="/static/bg.jpg">

    <!-- MetisMenu CSS -->
    <link href="/static/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row" style="margin-top: 140px">
            <div class="col-lg-3 col-md-6" style="margin-top: 0px">
                <img src="../static/bg.jpg">
            </div>
            <div class="col-lg-3 col-lg-6" style="margin-top: 90px">
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div>Register donors</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/worker/register">
                                <div class="panel-footer">
                                    <span class="pull-left">Check it out!</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-building-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div>Register Institutions</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/institution/register">
                                <div class="panel-footer">
                                    <span class="pull-left">Check it out!</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-mobile-phone fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div>Contact your clients!</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/login">
                                    <div class="panel-footer">
                                        <span class="pull-left">Check it out!</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

</body>

</html>
