{% extends "master.html" %}
{% block content %}
    <div class="row ">
        <div class="col-lg-6 well">
            <div class="row">
                <div class="col-lg-3">
                    <h4>Name:</h4>
                </div>
                <div class="col-lg-3">
                    <h3>{{ donator["name"] }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h4>Name:</h4>
                </div>
                <div class="col-lg-3">
                    <h3>{{ donator["name"] }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h4>Name:</h4>
                </div>
                <div class="col-lg-3">
                    <h3>{{ donator["name"] }}</h3>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
